@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: rgb(49, 115, 190);
  color: #f0fdfa;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(49, 115, 190);
  height: 10%;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #111827;
}
